<!DOCTYPE html>
<html lang="en">

<head>
  <title>Brás Market Place</title>
  <meta charset="utf-8" />

  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/signUp.css">
</head>

<body>
  <header>
    <div class="Header">
      <div class="YourLocal">
        <a href="https://www.google.com/search?q=localizacao"><img src="./assets/icons/room.svg" /></a>
        <a href="https://www.google.com/search?q=localizacao"><label>Seu Local</label></a>
      </div>
      <a href="index.html"><img class="CompanyLogo" src="./assets/images/logo2.jpg" /></a>
      <div>
        <a href="search.html"><img class="Icon" src="./assets/icons/search.svg" /></a>
        <a href="cart.html"><img class="Icon" src="./assets/icons/cart.svg" /></a>
        <a href="login.html"><img class="Icon" src="./assets/icons/account.svg" /></a>
      </div>
    </div>
    <nav class="Navigation">
      <ul class="Navigation__list">
        <li><a href="feminino.html">Feminino</a></li>
        <li><a href="masculino.html">Masculino</a></li>
        <li><a href="infantil.html">Infantil</a></li>
        <li><a href="calcados.html">Calçados</a></li>
        <li><a href="acessorios.html">Acessórios</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="leftSide">
      <h1>Cadastre-se e comece a vender agora mesmo!</h1>
    </div>

    <div class="rightSide">
      <h2>Cadastre-se Grátis!</h2>
      <form method="post" action="../Control/controller_cadastrar.php">
        <input type="text" placeholder="Nome Completo" id="nameComplete" name="nome">
        <input type="text" placeholder="CNPJ" id="CNPJ" name="cnpj">
        <input type="text" placeholder="Email para contato" id="email" name="email">
        <input type="text" placeholder="Senha" id="password" name="senha">
        <input type="text" placeholder="Repetir senha" id="password2">
        <input type="submit" value="Cadastrar" id="cadastrar" name="acao">
      </form>
    </div>
  </main>

  <footer>
    <div class="footer-heading footer-1">
      <h4>Siga Nossas Redes Sociais</h4>
      <div class="footer-icons">
        <a href="https://www.facebook.com"><img src="./assets/icons/facebook.svg" /></a>
        <a href="https://www.instagram.com"><img src="./assets/icons/instagram.svg" /></a>
        <a href="whatsapp.html"><img src="./assets/icons/whatsapp.svg" /></a>
      </div>
    </div>
    <div class="footer-heading footer-2">
      <h4>Nossas Parceiros</h4>
      <a href="#">Empresa 1</a>
      <a href="#">Empresa 2</a>
      <a href="#">Empresa 3</a>
    </div>
    <div class="footer-heading footer-3">
      <h4>Contato</h4>
      <a1 href="#">brasmktplace@bras.com.br</a1>
      <a1 href="#">(XX) 1234-5678</a1>
    </div>
    <div class="footer-email-form">
      <h4>Se inscreva na nossa NewsLetter!</h4>
      <input type="email" placeholder="Coloque seu email" id="footer-email">
      <input type="submit" value="Sign Up" id="footer-email-btn">
    </div>
    <p> &copy; Copyright ITX Negócios Digitais - 2021</p>
  </footer>

  <body>

</html>